*{
    color: black;
}

body{
    background-image: url(./assets/background.jpg);
    background-color: black; 
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    display: flex; 
    justify-content:space-between;
    background-color: whitesmoke;
    padding-bottom: -50px;
    border-radius: 10px;
}
 
ul {
    list-style: none;
    
}

header ul {
    display: flex;
}

header ul li a{
    padding: 5px;
    color: dodgerblue;
}

header ul li a:hover {
    color:white;
}


h2{
    background-color:white;
    border: none;
    border-radius: 10px 10px 0 0;
    margin: 40px 0 0 0; 
    margin-left: 225px;
    margin-right: 225px; 
    margin-top: 30px; 
    opacity: 85%; 
}

.form{
    background-color: whitesmoke;
    font-size: 90%;
    padding: 15px;
    margin-left: 225px;
    margin-right: 225px;
    height: 390px;
    border-radius: 0 0 15px 0;
    opacity: 85%;    
}

.form input{
    padding: 1px;
    margin: 2px;
}

.logo{
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.btnSend{
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color:white;
    border: none;
    border-radius: 0 0 10px 10px;
    margin-top: 27px;
    margin-left: -15px;
    opacity: 85%;
}

.btnSend:hover{
    background-color: dodgerblue;
    color:white;
}

.btnSend:active {
    background-color:cornflowerblue;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99%;
    background-color: whitesmoke;
    text-align: center;
    font-size: 80%;
    padding: 5px 15px;
}